# Python virtual environment
backend/venv/
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# Node
node_modules/

# Build files
dist/
build/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db